<div class="bg-blue-800 fixed top-0 left-0 right-0 z-[2]">
    <nav class="flex flex-nowrap text-white font-semibold ">
        <a class="h-[26px] m-3" href="/">
            <!-- routerLink="/home" -->
            <img class="h-[26px]" src="/assets/angular.svg" alt="logo" />
        </a>
        <a class="m-3" href="/home">
            <span>Angular Learning</span>
        </a>
        <a class="m-3" href="/sidenav">
            <span>Components</span>
        </a>
        <div class="flex-1"></div>
        <a class="m-3" href=""><span>Icon</span></a>
    </nav>
</div>